<div class="actions">
    <ul>
        <li><?php echo $this->Html->link(__('Accueil'), '/admin/pages/edit/6'); ?></li>
        <li><?php echo $this->Html->link(__('Galerie'), '/admin/pages/edit/1'); ?></li>
      <!--  <li><?php echo $this->Html->link(__('Expositions'), '/admin/pages/edit/7'); ?></li>-->
        <li><?php echo $this->Html->link(__('Artistes'), '/admin/artists'); ?></li>
        <li><?php echo $this->Html->link(__('Collections'), '/admin/collections'); ?></li>
        <li><?php echo $this->Html->link('Architecture d\'intérieur', '/admin/pages/edit/3'); ?></li>
        <li><?php echo $this->Html->link(__('Presse'), '/admin/articles'); ?></li>
        <!-- <li><?php echo $this->Html->link(__('Nouvelles'), '/admin/pages/edit/9'); ?></li> -->
        <li><?php echo $this->Html->link(__('News'), '/admin/news'); ?></li>
        <li><?php echo $this->Html->link(__('Contact'), '/admin/pages/edit/5'); ?></li>
<!--        <br />
        <li><?php //echo $this->Html->link(__('Admin'), '/dashboard'); ?></li>-->
        <br />
        <li><?php echo $this->Html->link('Se déconnecter', '/logout'); ?></li>
    </ul>
</div>