
@charset "utf-8";

html {
    height: 100%;
    width:  100%;
    margin: 0;
}
body {
    width:  100%;
    font-family: "Tenor Sans";
    font-size: 13px;
    color: #7A5708;
    font-weight: 300;
    margin:0 auto;
    height: 100%;
    background-color: #fff !important;
}
#under_bg {
    position: absolute;
    background: #061721;
    z-index: 0;
    width: 50%;
    min-height: 100%;
    margin: 0 auto;
}
#container {
    background: url('/img/bgg7.png') left repeat-y;
	background-color: #fff !important;
    margin: 0 auto;
    width: 1080px;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
#bg_left {
    position: absolute;
    left: -140px;
    width: 450px;
    height: 900px;
}
#bg_right {
    position: absolute;
    left: 770px;
    width: 450px;
    height: 900px;
}

#header {
    float: left;
    width: 300px;
    min-height: 478px;
    background-color: #fff;
}

#menuMobileBurger {
	display: none;
}

#header_container {
    width: 230px;
    min-height: 690px;
    background: url('/img/bgg6.png') no-repeat;
    position:relative;
}
#pictos{
	position: absolute;
	bottom: 5px;
	left: 32px;
	width: 115px;
}
#picto-pin{
	float: right;
	}
#picto-insta{
	margin-left: 20px;
}
#content {
    float: left;
    width: 780px;
    min-height: 100%;
    margin-top: 10px;
    /*    background-color: #fff;*/
}
.clear {
    clear: both;
    height: 20px;
}

#logo {
    position: relative;
    /*    right: 10%;  valid before*/
    top: 690px;
    left: 20px;
}
#logo img {
    width: 140px;
}

#logo_big {
    margin-top: 270px;
    margin-left: 70px;
}

/*
* Language acceuil
*/
#lang_page {
    position: relative;
    top: 100px;
    left: 200px;
}
#lang_main_en {
    margin-left: 30px;
}
.lang_main{
    float: left;
    font-family: "Helvetica", "sans-serif";
    font-size: 14px;
    color: #7A5708;
    text-decoration: none;
    /*    padding: 40px 100px 40px 100px;*/
    background-color: #061721;
    margin-left: 80px;
}
.lang_main:hover{
    /*    font-weight: bolder;*/
    position: relative;
    color: #7CD7CF;
    /*    top: 2px;*/
    /*    color: #061721;
        background-color: #7A5708;*/
}

/*
* Language switcher
*/

#switch_language {
    position: relative;
    float: right;
    clear: both;
    z-index: 2000;
    top: 120px; /*100*/
    left: -45px;
}
#switch_language a {
    text-decoration: none;
    color: #7A5708;
}
#switch_language a:hover, #switch_language a:active, #switch_language:active, #switch_language .currentPage a{
    color: #000;
}
#switch_language .flag {
    padding-right: 5px;
}

/*
* Menu
*/
#nav {
    padding-right: 14px;
	position: relative;
	float: right;
	clear: both;
	top: 110px;
	width: 91px;
	left: -37px;
}
#nav #menu {
	float: right;
}
#nav a {
    color: #7A5708;
    text-decoration: none;
    font-size: 12px;
    word-break: break-all;
    width: 80px;
    display:block;
}
#nav ul{

}
#nav li {
    position: relative;
    z-index: 4;
    display: block;
    padding-bottom: 13px;
    text-align: right;
}
#nav li:hover a {
    color: #000;
    position: relative;
    z-index: 4;
}
#nav ul.submenu {
    z-index: 2;
	position: absolute;
	left: 78px;
	top: -7px;
	color: #7A5708;
	padding: 7px 0px 5px 10px;
}
#nav li li {
    text-align: left;
}
#nav ul.submenu li a{
    color: #7A5708;
}
#nav ul.submenu li:hover a{
    color: #000;
}
#nav .currentPage a {
    color: #000;
}
#nav ul li.currentCollection a{
    color: #000;
}

/*
* scroller
*/
#scroller {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border: 0px solid black;
    padding: 0px;
}
#scroller img {
    height: 500px;
    margin: 0px;
    border: 0px;
}

/*
* scroller
*/
#paginateur {
    margin-top: 40px;
    float: left;
    clear: both;
    margin-left: 50px;
}
.paginator {
    background-color: #061721;
    padding: 5px 10px 5px 10px;
    margin-right: 4px;
    color: #fff;
}

.paginator:hover {
    background-color: #7A5708;
    color: #fff !important;
}
.paginator a {
    color: #fff;
    text-decoration: none;
}

.paginator:hover a, .paginator a:hover {
    color: #fff !important;
}


.paginatorCurrentPage {
	font-weight: bold;
	color: #7A5708;
}

/*
* article
*/
#artcles {
    width: 730px;
}
#articles h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
}
.article {
    float: left;
    margin: 30px 0px 0px 20px;
}
.article:hover img {
    -webkit-box-shadow: 0px 0px 12px #000000;
    box-shadow: 0px 0px 12px #000000;
}
.ligne {
    float: left;
    clear: both;
    min-width: 700px;
}

/*
* pages
*/
#accueil_description {
    line-height: 17px;
    color:  #000;
}
.texte {
    text-align: left;
    line-height: initial;
    margin: 20px 0px 0px 0px;
    max-width: 800px;
    padding-right: 100px;
    color:  #000;
}
.texte a {
    color: #7A5708;
}

/*
* page contact
*/
#ContactformContactformShowForm {
    width: 500px;
    margin: 30px;
}
#ContactformContactformShowForm input[type="text"]{
    border: 1px solid #999
}
#ContactformContactformShowForm input{
}
#ContactformContactformShowForm textarea{
    border: 1px solid #999
}
#ContactformContactformShowForm input[type="submit"]{
    background: none;
    background-color: #fff;
    border: none;
    width: 100px;
    color: #7A5708;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;

}
#ContactformContactformShowForm input[type="submit"]:hover {
    -webkit-box-shadow: 0px 0px 6px #000000;
    box-shadow: 0px 0px 6px #000000;
}
#ContactformContactformShowForm input[type="submit"]:active {
    color: #ffcb2e;
}
.texte_contact {
    text-align: left;
    line-height: initial;
    margin: 20px 0px 20px 20px;
    max-width: 800px;
}

.flashContact {
    position: absolute;
    z-index: 100;
    text-align: center;

    padding-left: 8px;
    height: 25px;
    padding-top: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 40px;
    width: 400px;
    clear: both;
    color: #061721;
    background: #ffcc1a;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ffcc1a, #c69700);
    background-image: -ms-linear-gradient(top, #ffcc1a, #c69700);
    background-image: -o-linear-gradient(top, #ffcc1a, #c69700);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#ffcc1a), to(#c69700));
    background-image: -webkit-linear-gradient(top, #ffcc1a, #c69700);
    background-image: linear-gradient(top, #ffcc1a, #c69700);
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;
}

#charlestassin {
    margin-left: 20%;
}
#charlestassin img {
    margin-top: 20px;
}
.texte_contact a {
	color:#000;
	text-decoration: none;
	font-size: 16px;
	line-height: 24px;
}
.row-item {
    width: 35%;
    FLOAT: LEFT;
    margin: 3% 7%;
    text-align: center;
    height: 223px;
}
.row-item img {
    width: 100%;
    margin-bottom: 10px;
    max-height: 205px;
}
.image {
    width: 44%;
    float: left;
    margin-right: 4%;
}

.image img {
    width: 100%;
    margin-bottom: 10px;
    max-height: 100%;
}

.description {
    float: left;
    width: 51%;
    line-height: 18px;
}
.description h3 {
    font-size: 15px;
    color: #000;
    margin: 8px 0px;
    font-weight: bold;
}
.row-item .royalSlider{
    width: 100% !important;
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}
.row-item a.title{
    text-decoration: none;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 0px !important;
    color: #000;
    font-weight: bold;
}
.row-new {
    width: 41%;
    border: 1px solid rgba(125, 90, 13, 0.02);
    padding: 2px;
    float: left;
    border-radius: 3px;
    margin: 4%;
    height: 364px;
    overflow: hidden;
}
.row-new img {
    width: 100%;
    margin-right: 17px;
}
.row-new h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 8px;
}
.row-new h3 a{
    text-decoration: none;
    color: #000;
}
.row-new .clear {
    height: 0px;
}
.detail-new h3 {
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
    margin-top: 14px;
    border-bottom: 1px solid rgba(151, 124, 62, 0.18);
    padding-bottom: 3px;
}
.share_new a {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 2px;
    vertical-align: top;
    display: inline-block !important;
    font-size: 12px;
    line-height: 19px;
    margin-top: 4px;
}
.fb-share {
    background: url("../img/fb-icon1.png") no-repeat scroll center center transparent;
    background-size: 100%;
}
.twitter-share {
    background: url("../img/twitter-icon1.png") no-repeat scroll center center transparent;
    background-size: 100%;
}
.inn-share {
    background: url("../img/inn-icon1.png") no-repeat scroll center center transparent;
    background-size: 100%;
}
p.share_new.share_p {
    float: right;
    margin-top: 13px;
}