@font-face {
    font-family: 'blair_itcregular';
    src: url('ufonts.com_blair_itc_medium_1_-webfont.eot');
    src: url('ufonts.com_blair_itc_medium_1_-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_blair_itc_medium_1_-webfont.woff2') format('woff2'),
         url('ufonts.com_blair_itc_medium_1_-webfont.woff') format('woff'),
         url('ufonts.com_blair_itc_medium_1_-webfont.ttf') format('truetype'),
         url('ufonts.com_blair_itc_medium_1_-webfont.svg#blair_itcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}