/***** Préhome *****/
#container_container {
    background: url("/img/bgg8-mobile.png") no-repeat 38% 34% !important;
    height: 100% !important;
    width:  100% !important;
}

#container_container #container{
    background: transparent !important;
}

#may_img {
    position: relative;
    top: 0px !important;
    left: 0px !important;
    height: initial !important;
    padding: 7% 0 0 0;
}

#may_img #logo {
	text-align: center !important;
}

#may_img #logo img {
    width: 160px !important;
}

#bg_right {
	display: none !important;
}


/*****  Pages *****/
html,body {
    height: 100% !important;
    width:  100% !important;
    margin: 0px !important;
    padding: 0px !important;
}



#container {
    background: none !important;
	background-color: #fff !important;
    margin: 0;
    width: 100% !important;
    height: 100% !important;
    min-height: initial !important;
    padding: 0;
    position: relative;
    z-index: 1;
}

#header {
    float: none !important;
    width: 100% !important;
    height: 80px !important;
    min-height: initial !important;
    background-color: #fff;
    border-bottom: 1px solid #7A5708;
}

#menuMobileBurger {
	display: block !important;
	position: absolute;
	top: 20px;
	left: 4%;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	z-index: 30;
}

#menuMobileBurger span {
	background: #7A5708;
	width: 28px;
	height: 3px;
	display: block;
	margin: 8px auto 0px auto;
}


.menuMobileClicked {
	background: #7A5708;
	border: 1px solid #7A5708 !important;
}

.menuMobileClickedSpan {
	background: #fff !important;
}



#header_container {
    width: 100% !important;
    height: 80px !important;
    min-height: initial !important;
    background: none !important;
    position: absolute !important;
    background-color: #fff;
    z-index: 22;
    top: 0px !important;
    left: 0px !important;
}
#logo {
    position: initial !important;
    width: 137px !important;
    height: 80px !important;
    margin:0px auto;
    text-align: left;
    background-color: #fff;
    display:block;
}
#logo img {
    margin-top: 18px;
    width: 110px !important;
}
#pictos {
	top: 26px !important;
	right: 3% !important;
	bottom: initial !important;
	left: initial !important;
	width: 85px !important;
	z-index: 3;
}
#picto-insta {
	margin-left: 4px !important;
}

#nav {
    position: absolute !important;
    padding: 20px 0 0 0 !important;
	float: none !important;
	top: 81px !important;
	width: 100% !important;
	left: 0px !important;
	background: url('/img/bgg6.png') no-repeat #fff;
	background-position: 14% -85px !important;
	display:none;
	z-index: 22;
}

#nav #menu {
	margin-right: 50%;
}

#nav li {
    z-index: 4;
    display: block;
    padding-bottom: 13px;
    text-align: right;
}

#nav a {
    font-size: 18px !important;
    width: 110px !important;
    text-align:right;
}

#nav ul.submenu {
	left: 110px !important;
	padding-left: 11px !important;;
}

#nav ul.submenu,
#nav ul.submenu li,
#nav ul.submenu li a {
	text-align: left !important;
}

#switch_language {
    position: absolute !important;
    padding: 0 0 0 0 !important;
	float: none !important;
	top: 350px !important;
	width: 50% !important;
	left: 0px !important;
	text-align: right;
	z-index: 22;
	font-size: 18px;
	display:none;
}


.pageTitleWrapper {
	position: relative;
}

.currentPageTitle {
	padding: 10px 0px;
	margin: 0px;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

.absShadow {
	width: 100%;
	height: 6px;
	position: absolute;
	bottom: -6px;
	left: 0px;
	background: url('/css/bg-shadow.png') repeat-x;
	z-index: 1;
}


#content {
    float: none !important;
    width: 100% !important;
    min-height: initial !important;
    margin: 0px !important;
}

#content img{
    width: 100% !important;
}

.texte {
    text-align: justify !important;
    margin: 20px 0px 0px 0px !important;
    max-width: initial !important;
    width: 92% !important;
    padding: 0px 4% !important;
    color:  #000;
}


.ligne {
    min-width: initial !important;
    width: 100% !important;
}

.article {
    float: left;
    margin: 0px !important;
    width: 50% !important;
}

#paginateur {
    margin: 30px 0 0 0 !important;
    padding: 0 0 0 40% !important;
    float: left;
    width: 60% !important;
    text-align: center !important;
}

.paginator {
    padding: 0px !important;
    height: 30px !important;
	width: 31px !important;
	display: block;
	float: left !important;
}

.paginatorCurrentPage {
	padding: 8px 0 0 0 !important;
	height: 22px !important;
}

.paginator a{
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 8px;
}

.royalSlider {
    width: 100% !important;
    margin: 0px !important;
}

.rsSlide {
	text-align: center;
}

.rsImg {
	width: 100% !important;
	height: auto !important;
	margin: 0px !important;	
}

.rsMinW .rsArrow {
    width: 50% !important;
}

.rsMinW .rsArrowIcn {
    width: 40px !important;
    height: 40px !important;
    z-index: 99;
}


.rsMinW .rsArrowLeft {
    left: 0px !important;
    right: initial !important;
}


.rsMinW .rsArrowRight {
    right: 0px !important;
}

.rsMinW.rsHor .rsArrowLeft .rsArrowIcn {
    left: 12px !important;
    background: transparent url("/css/arrowMobilePrev.png");
}
.rsMinW.rsHor .rsArrowRight .rsArrowIcn {
    right: 0px !important;
    left: initial !important;
    background: transparent url("/css/arrowMobileNext.png");
}

#rsGCaption {
	font-size: 16px;
}


.aDemInfoFR, .aDemInfoEN {
    font-size: 13px;
}


#cboxPrevious {
    right: initial !important;
    left: 0px !important;
}

#cboxNext {
    right: 28px !important;
}


/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*********** MOBILE ************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/
/*******************************/