/* Reset */
.wp_themeSkin table, .wp_themeSkin tbody, .wp_themeSkin a, .wp_themeSkin img, .wp_themeSkin tr, .wp_themeSkin div, .wp_themeSkin td, .wp_themeSkin iframe, .wp_themeSkin span, .wp_themeSkin *, .wp_themeSkin .mceText {
border:0; margin:0; padding:0; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; vertical-align:baseline; width:auto; border-collapse:separate;
}
table tbody tr td,table tbody tr:hover td, table tbody tr:nth-child(2n+1) td{
	background: transparent; border:none;
}
.wp_themeSkin a:hover, .wp_themeSkin a:link, .wp_themeSkin a:visited, .wp_themeSkin a:active {text-decoration:none; font-weight:normal; cursor:default;}
.wp_themeSkin table td {vertical-align:middle}

/* Containers */
.wp_themeSkin table {}
.wp_themeSkin iframe {display:block;}
.wp_themeSkin .mceToolbar {padding: 2px;}

/* External */
.wp_themeSkin .mceExternalToolbar {position:absolute; border-bottom:0; display:none}
.wp_themeSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.wp_themeSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.wp_themeSkin table.mceToolbar, .wp_themeSkin tr.mceFirst .mceToolbar tr td, .wp_themeSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.wp_themeSkin table.mceLayout {border:0;}
.wp_themeSkin .mceIframeContainer {}
.wp_themeSkin .mceStatusbar {
	display: block;
	font-family: Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding-left: 5px;
	overflow: visible;
	height: 20px;
	border-top-width: 1px;
	border-top-style: solid;
}
.wp_themeSkin .mceStatusbar div {float:left; padding:2px;}
.wp_themeSkin .mceStatusbar a.mceResize {
	display: block;
	float: right;
	background: url(../../img/icons.gif) -800px 0;
	width: 20px;
	height: 20px;
	cursor: se-resize
}
.wp_themeSkin .mceStatusbar a:hover {text-decoration:underline}
.wp_themeSkin table.mceToolbar {margin: 0 2px 2px;}
.wp_themeSkin #content_toolbar1 {margin-top: 2px;}
.wp_themeSkin .mceToolbar .mceToolbarEndListBox span {display:none}
.wp_themeSkin span.mceIcon, .wp_themeSkin img.mceIcon {display:block; width:20px; height:20px}
.wp_themeSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}

/* Button */
.wp_themeSkin .mceButton {
	display:block;
	width: 20px;
	height: 20px;
	cursor: default;
	padding: 1px 2px;
	margin: 1px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}

.wp_themeSkin a.mceButtonEnabled:hover {
	background-image: inherit 0 -10px;
}

.wp_themeSkin .mceOldBoxModel a.mceButton span, .wp_themeSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}

.wp_themeSkin a.mceButton:active,
.wp_themeSkin a.mceButtonActive,
.wp_themeSkin a.mceButtonActive:hover,
.wp_themeSkin a.mceButtonSelected {
	-webkit-box-shadow:	 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}
.wp_themeSkin .mceButtonDisabled .mceIcon {opacity:0.4; filter:alpha(opacity=40);}

/* Separator */
.wp_themeSkin .mceSeparator {
	height: 24px;
	width: 1px;
	display: block;
	background: transparent;
	overflow: hidden;
	margin: 0 2px;
}

/* ListBox */
.wp_themeSkin .mceListBox, .wp_themeSkin .mceListBox a {display:block}
.wp_themeSkin .mceListBox .mceText {
	padding: 1px 2px 1px 5px;
	text-align:left;
	text-decoration: none;
	width:70px;
	-moz-border-bottom-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-khtml-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-khtml-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	font-family: Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.wp_themeSkin .mceListBox {
	margin: 1px;
	direction: ltr;
}
.wp_themeSkin .mceListBox .mceOpen {
	width: 14px;
	height: 20px;
	border-collapse: separate;
	padding: 1px;
	-moz-border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-khtml-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}
.wp_themeSkin .mceListBox .mceOpen span {
	display: block;
	width:14px;
	height:20px;
	background-image: url(img/down_arrow.gif);
	background-position: 2px 1px;
	background-repeat: no-repeat;
}
.wp_themeSkin table.mceListBoxEnabled:hover .mceText,
.wp_themeSkin .mceListBoxHover .mceText,
.wp_themeSkin .mceListBoxSelected .mceText,
.wp_themeSkin table.mceListBoxEnabled:hover .mceOpen,
.wp_themeSkin .mceListBoxHover .mceOpen,
.wp_themeSkin .mceListBoxSelected .mceOpen {
	background-image: none;
}
.wp_themeSkin .mceListBoxDisabled .mceText {color:gray}
.wp_themeSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.wp_themeSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.wp_themeSkin select.mceListBox {
	font-family: Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size:12px;
}

/* SplitButton */
.wp_themeSkin .mceSplitButton a, .wp_themeSkin .mceSplitButton span {display:block; height:20px}
.wp_themeSkin .mceSplitButton {
	display:block;
	margin: 1px;
	direction: ltr;
}
.wp_themeSkin table.mceSplitButton td {
	padding: 2px;
	-moz-border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-khtml-border-top-left-radius: 0;
	border-top-left-radius: 0;
}

.wp_themeSkin table.mceSplitButton td a {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}

.wp_themeSkin table.mceSplitButton:hover td {
	background-image: inherit 0 -10px;
}

.wp_themeSkin .mceSplitButton a.mceAction {
	height:20px;
	width:20px;
	padding: 1px 2px;
}
.wp_themeSkin .mceSplitButton span.mceAction {
	background-image: url(../../img/icons.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	width:20px;
}
.wp_themeSkin .mceSplitButton a.mceOpen {
	width:10px;
	height:20px;
	background-image: url(img/down_arrow.gif);
	background-position: 1px 2px;
	background-repeat: no-repeat;
	padding: 1px;
	border-left: 0 none !important;
}
.wp_themeSkin .mceSplitButton span.mceOpen {display:none}
.wp_themeSkin .mceSplitButtonDisabled .mceAction {
	opacity:0.3; filter:alpha(opacity=30);
}
.wp_themeSkin .mceListBox a.mceText, .wp_themeSkin .mceSplitButton a.mceAction {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}
.wp_themeSkin .mceSplitButton a.mceOpen, .wp_themeSkin .mceListBox a.mceOpen {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.wp_themeSkin span.mce_undo,
.wp_themeSkin span.mce_redo,
.wp_themeSkin span.mce_bullist,
.wp_themeSkin span.mce_numlist,
.wp_themeSkin span.mce_blockquote,
.wp_themeSkin span.mce_charmap,
.wp_themeSkin span.mce_bold,
.wp_themeSkin span.mce_italic,
.wp_themeSkin span.mce_underline,
.wp_themeSkin span.mce_justifyleft,
.wp_themeSkin span.mce_justifyright,
.wp_themeSkin span.mce_justifycenter,
.wp_themeSkin span.mce_justifyfull,
.wp_themeSkin span.mce_indent,
.wp_themeSkin span.mce_outdent,
.wp_themeSkin span.mce_link,
.wp_themeSkin span.mce_unlink,
.wp_themeSkin span.mce_help,
.wp_themeSkin span.mce_removeformat,
.wp_themeSkin span.mce_fullscreen,
.wp_themeSkin span.mce_media,
.wp_themeSkin span.mce_pastetext,
.wp_themeSkin span.mce_pasteword,
.wp_themeSkin span.mce_wp_help,
.wp_themeSkin span.mce_wp_adv,
.wp_themeSkin span.mce_wp_more,
.wp_themeSkin span.mce_strikethrough,
.wp_themeSkin span.mce_spellchecker,
.wp_themeSkin span.mce_forecolor,
.wp_themeSkin .mce_forecolorpicker,
.wp_themeSkin .mceSplitButton .mce_spellchecker span.mce_spellchecker,
.wp_themeSkin .mceSplitButton .mce_forecolor span.mce_forecolor,
.wp_themeSkin .mceSplitButton span.mce_numlist,
.wp_themeSkin .mceSplitButton span.mce_bullist {
	background-image: url(../../img/wpicons.png);
}

/* ColorSplitButton */
.wp_themeSkin div.mceColorSplitMenu table {}
.wp_themeSkin .mceColorSplitMenu td {padding:2px}
.wp_themeSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden;}
.wp_themeSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px;}
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors:hover {}
.wp_themeSkin a.mceMoreColors:hover {}
.wp_themeSkin .mceColorPreview {margin: -5px 0 0 2px; width:16px; height:4px; overflow:hidden}

/* Menu */
.wp_themeSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000;}
.wp_themeSkin .mceNoIcons span.mceIcon {width:0;}
.wp_themeSkin .mceNoIcons a .mceText {padding-left:10px}
.wp_themeSkin .mceMenu table {}
.wp_themeSkin .mceMenu a, .wp_themeSkin .mceMenu span, .wp_themeSkin .mceMenu {display:block}
.wp_themeSkin .mceMenu td {height:20px;overflow:hidden;}
.wp_themeSkin .mceMenu a {
	position:relative;
	padding:3px 0 4px 0;
	text-decoration: none !important;
}
.wp_themeSkin .mceMenu .mceText {
	position:relative;
	display:block;
	font-family:Tahoma,Verdana,Arial,Helvetica;
	cursor:default;
	margin:0;
	padding:0 25px;
}
.wp_themeSkin .mceMenu span.mceText, .wp_themeSkin .mceMenu .mcePreview {
	font-size: 12px;
}
.wp_themeSkin .mceMenu pre.mceText {font-family:Monospace}
.wp_themeSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.wp_themeSkin .mceMenu .mceMenuItemEnabled a:hover,
.wp_themeSkin .mceMenu .mceMenuItemActive {}
.wp_themeSkin td.mceMenuItemSeparator {height:1px}
.wp_themeSkin .mceMenuItemTitle a {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-decoration: none !important;
}
.wp_themeSkin .mceMenuItemTitle span.mceText {font-weight:bold; padding-left:4px}
.wp_themeSkin .mceMenuItemDisabled .mceText {}
.wp_themeSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.wp_themeSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.wp_themeSkin .mceMenu span.mceMenuLine {display:none}
.wp_themeSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.wp_themeSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; filter:alpha(opacity=50); background:#FFF}
.wp_themeSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.wp_themeSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.wp_themeSkin .mce_p span.mceText {}
.wp_themeSkin .mce_address span.mceText {font-style:italic}
.wp_themeSkin .mce_pre span.mceText {font-family:monospace}
.wp_themeSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 17px}
.wp_themeSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 16px}
.wp_themeSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 15px}
.wp_themeSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 14px}
.wp_themeSkin .mce_h5 span.mceText {font-weight:bolder; font-size: 13px}
.wp_themeSkin .mce_h6 span.mceText {font-weight:bolder; font-size: 12px}

/* Theme */
.wp_themeSkin span.mce_undo {background-position: -500px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_undo,
.wp_themeSkin .mceButtonActive span.mce_undo {background-position:-500px 0}

.wp_themeSkin span.mce_redo {background-position:-480px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_redo,
.wp_themeSkin .mceButtonActive span.mce_redo {background-position:-480px 0}

.wp_themeSkin span.mce_bullist {background-position:-40px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_bullist,
.wp_themeSkin .mceButtonActive span.mce_bullist,
.wp_themeSkin .mceSplitButton:hover span.mce_bullist {background-position:-40px 0}

.wp_themeSkin span.mce_numlist {background-position:-61px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_numlist,
.wp_themeSkin .mceButtonActive span.mce_numlist,
.wp_themeSkin .mceSplitButton:hover span.mce_numlist {background-position:-61px 0}

.wp_themeSkin span.mce_blockquote {background-position:-80px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_blockquote,
.wp_themeSkin .mceButtonActive span.mce_blockquote {background-position:-80px 0}

.wp_themeSkin span.mce_charmap {background-position:-420px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_charmap,
.wp_themeSkin .mceButtonActive span.mce_charmap {background-position:-420px 0}

.wp_themeSkin span.mce_bold {background-position:-1px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_bold,
.wp_themeSkin .mceButtonActive span.mce_bold {background-position:-1px 0}

.wp_themeSkin span.mce_italic {background-position:-21px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_italic,
.wp_themeSkin .mceButtonActive span.mce_italic {background-position:-21px 0}

.wp_themeSkin span.mce_underline {background-position:-280px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_underline,
.wp_themeSkin .mceButtonActive span.mce_underline {background-position:-280px 1px}

.wp_themeSkin span.mce_justifyleft {background-position:-100px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_justifyleft,
.wp_themeSkin .mceButtonActive span.mce_justifyleft {background-position:-100px 1px}

.wp_themeSkin span.mce_justifyright {background-position:-141px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_justifyright,
.wp_themeSkin .mceButtonActive span.mce_justifyright {background-position:-141px 1px}

.wp_themeSkin span.mce_justifycenter {background-position:-120px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_justifycenter,
.wp_themeSkin .mceButtonActive span.mce_justifycenter {background-position:-120px 1px}

.wp_themeSkin span.mce_justifyfull {background-position:-300px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_justifyfull,
.wp_themeSkin .mceButtonActive span.mce_justifyfull {background-position:-300px 1px}

.wp_themeSkin span.mce_indent {background-position:-461px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_indent,
.wp_themeSkin .mceButtonActive span.mce_indent {background-position:-461px 1px}

.wp_themeSkin span.mce_outdent {background-position:-440px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_outdent,
.wp_themeSkin .mceButtonActive span.mce_outdent {background-position:-440px 1px}

.wp_themeSkin span.mce_link {background-position:-161px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_link,
.wp_themeSkin .mceButtonActive span.mce_link {background-position:-161px 0}

.wp_themeSkin span.mce_unlink {background-position:-180px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_unlink,
.wp_themeSkin .mceButtonActive span.mce_unlink {background-position:-180px 0}

.wp_themeSkin span.mce_help {background-position:-521px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_help,
.wp_themeSkin .mceButtonActive span.mce_help {background-position:-521px 0}

.wp_themeSkin span.mce_removeformat {background-position:-381px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_removeformat,
.wp_themeSkin .mceButtonActive span.mce_removeformat {background-position:-381px 0}

.wp_themeSkin span.mce_strikethrough {background-position:-540px -18px;}
.wp_themeSkin .mceButtonEnabled:hover span.mce_strikethrough,
.wp_themeSkin .mceButtonActive span.mce_strikethrough {background-position:-540px 0}

.wp_themeSkin .mceSplitButton .mce_forecolor span.mce_forecolor {background-position:-321px -22px}
.wp_themeSkin .mceSplitButtonEnabled:hover span.mce_forecolor,
.wp_themeSkin .mceSplitButtonActive span.mce_forecolor {background-position:-321px -2px}

.wp_themeSkin .mce_forecolorpicker {background-position:-320px -20px}

/* Plugins in WP */
.wp_themeSkin span.mce_fullscreen {background-position:-240px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_fullscreen,
.wp_themeSkin .mceButtonActive span.mce_fullscreen {background-position:-240px 0}

.wp_themeSkin span.mce_media {background-position:-401px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_media,
.wp_themeSkin .mceButtonActive span.mce_media {background-position:-401px 0}

.wp_themeSkin span.mce_pastetext {background-position:-340px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_pastetext,
.wp_themeSkin .mceButtonActive span.mce_pastetext {background-position:-340px 0}

.wp_themeSkin span.mce_pasteword {background-position:-360px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_pasteword,
.wp_themeSkin .mceButtonActive span.mce_pasteword {background-position:-360px 0}

.wp_themeSkin span.mce_spellchecker {background-position:-220px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_spellchecker,
.wp_themeSkin .mceSplitButtonEnabled:hover span.mce_spellchecker,
.wp_themeSkin .mceButtonActive span.mce_spellchecker,
.wp_themeSkin .mceSplitButtonActive span.mce_spellchecker {background-position:-220px 1px}

.wp_themeSkin span.mce_wp_help {background-position:-521px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_wp_help,
.wp_themeSkin .mceButtonActive span.mce_wp_help {background-position:-521px 0}

.wp_themeSkin span.mce_wp_adv {background-position:-260px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_wp_adv,
.wp_themeSkin .mceButtonActive span.mce_wp_adv {background-position:-260px 0}

.wp_themeSkin span.mce_wp_more {background-position:-201px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_wp_more,
.wp_themeSkin .mceButtonActive span.mce_wp_more {background-position:-201px 0}

/* Default icons */
.wp_themeSkin span.mce_cleanup {background-position:-380px -20px}
.wp_themeSkin span.mce_anchor {background-position:-200px 0}
.wp_themeSkin span.mce_sub {background-position:-600px 0}
.wp_themeSkin span.mce_sup {background-position:-620px 0}
.wp_themeSkin span.mce_newdocument {background-position:-520px 0}
.wp_themeSkin span.mce_image {background-position:-380px 0}
.wp_themeSkin span.mce_code {background-position:-260px 0}
.wp_themeSkin span.mce_hr {background-position:-360px 0}
.wp_themeSkin span.mce_visualaid {background-position:-660px 0}
.wp_themeSkin span.mce_paste {background-position:-560px 0}
.wp_themeSkin span.mce_copy {background-position:-700px 0}
.wp_themeSkin span.mce_cut {background-position:-680px 0}
.wp_themeSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.wp_themeSkin .mce_backcolorpicker {background-position:-760px 0}


/* Plugins */
.wp_themeSkin span.mce_advhr {background-position:-0px -20px}
.wp_themeSkin span.mce_ltr {background-position:-20px -20px}
.wp_themeSkin span.mce_rtl {background-position:-40px -20px}
.wp_themeSkin span.mce_emotions {background-position:-60px -20px}
.wp_themeSkin span.mce_fullpage {background-position:-80px -20px}
.wp_themeSkin span.mce_iespell {background-position:-120px -20px}
.wp_themeSkin span.mce_insertdate {background-position:-140px -20px}
.wp_themeSkin span.mce_inserttime {background-position:-160px -20px}
.wp_themeSkin span.mce_absolute {background-position:-180px -20px}
.wp_themeSkin span.mce_backward {background-position:-200px -20px}
.wp_themeSkin span.mce_forward {background-position:-220px -20px}
.wp_themeSkin span.mce_insert_layer {background-position:-240px -20px}
.wp_themeSkin span.mce_insertlayer {background-position:-260px -20px}
.wp_themeSkin span.mce_movebackward {background-position:-280px -20px}
.wp_themeSkin span.mce_moveforward {background-position:-300px -20px}
.wp_themeSkin span.mce_nonbreaking {background-position:-340px -20px}
.wp_themeSkin span.mce_selectall {background-position:-400px -20px}
.wp_themeSkin span.mce_preview {background-position:-420px -20px}
.wp_themeSkin span.mce_print {background-position:-440px -20px}
.wp_themeSkin span.mce_cancel {background-position:-460px -20px}
.wp_themeSkin span.mce_save {background-position:-480px -20px}
.wp_themeSkin span.mce_replace {background-position:-500px -20px}
.wp_themeSkin span.mce_search {background-position:-520px -20px}
.wp_themeSkin span.mce_styleprops {background-position:-560px -20px}
.wp_themeSkin span.mce_table {background-position:-580px -20px}
.wp_themeSkin span.mce_cell_props {background-position:-600px -20px}
.wp_themeSkin span.mce_delete_table {background-position:-620px -20px}
.wp_themeSkin span.mce_delete_col {background-position:-640px -20px}
.wp_themeSkin span.mce_delete_row {background-position:-660px -20px}
.wp_themeSkin span.mce_col_after {background-position:-680px -20px}
.wp_themeSkin span.mce_col_before {background-position:-700px -20px}
.wp_themeSkin span.mce_row_after {background-position:-720px -20px}
.wp_themeSkin span.mce_row_before {background-position:-740px -20px}
.wp_themeSkin span.mce_merge_cells {background-position:-760px -20px}
.wp_themeSkin span.mce_table_props {background-position:-980px -20px}
.wp_themeSkin span.mce_row_props {background-position:-780px -20px}
.wp_themeSkin span.mce_split_cells {background-position:-800px -20px}
.wp_themeSkin span.mce_template {background-position:-820px -20px}
.wp_themeSkin span.mce_visualchars {background-position:-840px -20px}
.wp_themeSkin span.mce_abbr {background-position:-860px -20px}
.wp_themeSkin span.mce_acronym {background-position:-880px -20px}
.wp_themeSkin span.mce_attribs {background-position:-900px -20px}
.wp_themeSkin span.mce_cite {background-position:-920px -20px}
.wp_themeSkin span.mce_del {background-position:-940px -20px}
.wp_themeSkin span.mce_ins {background-position:-960px -20px}
.wp_themeSkin span.mce_pagebreak {background-position:0 -40px}


/* border */
.wp_themeSkin .mceExternalToolbar,
.wp_themeSkin .mceButton,
.wp_themeSkin a.mceButtonEnabled:hover,
.wp_themeSkin a.mceButtonActive,
.wp_themeSkin a.mceButtonSelected,
.wp_themeSkin .mceListBox .mceText,
.wp_themeSkin .mceListBox .mceOpen,
.wp_themeSkin table.mceListBoxEnabled:hover .mceText,
.wp_themeSkin .mceListBoxHover .mceText,
.wp_themeSkin .mceListBoxSelected .mceText,
.wp_themeSkin table.mceListBoxEnabled:hover .mceOpen,
.wp_themeSkin .mceListBoxHover .mceOpen,
.wp_themeSkin .mceListBoxSelected .mceOpen,
.wp_themeSkin select.mceListBox,
.wp_themeSkin .mceSplitButton a.mceAction,
.wp_themeSkin .mceSplitButton a.mceOpen,
.wp_themeSkin .mceSplitButton a.mceOpen:hover,
.wp_themeSkin .mceSplitButtonSelected a.mceOpen,
.wp_themeSkin table.mceSplitButtonEnabled:hover a.mceAction,
.wp_themeSkin .mceSplitButton a.mceAction:hover,
.wp_themeSkin div.mceColorSplitMenu table,
.wp_themeSkin .mceColorSplitMenu a,
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors,
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors:hover,
.wp_themeSkin a.mceMoreColors:hover,
.wp_themeSkin .mceMenu {
	border-style: solid;
	border-width: 1px;
}


/**
COLORS
**/
/* Reset */
.wp_themeSkin table, .wp_themeSkin tbody, .wp_themeSkin a, .wp_themeSkin img, .wp_themeSkin tr, .wp_themeSkin div, .wp_themeSkin td, .wp_themeSkin iframe, .wp_themeSkin span, .wp_themeSkin *, .wp_themeSkin .mceText {
border:0; margin:0; padding:0; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; vertical-align:baseline; width:auto; border-collapse:separate;
}
.wp_themeSkin a:hover, .wp_themeSkin a:link, .wp_themeSkin a:visited, .wp_themeSkin a:active {text-decoration:none; font-weight:normal; cursor:default;}
.wp_themeSkin table td {vertical-align:middle}

/* Containers */
.wp_themeSkin table {}
.wp_themeSkin iframe {display:block;}
.wp_themeSkin .mceToolbar {padding: 2px;}

/* External */
.wp_themeSkin .mceExternalToolbar {position:absolute; border-bottom:0; display:none}
.wp_themeSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.wp_themeSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.wp_themeSkin table.mceToolbar, .wp_themeSkin tr.mceFirst .mceToolbar tr td, .wp_themeSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.wp_themeSkin table.mceLayout {border:0;}
.wp_themeSkin .mceIframeContainer {}
.wp_themeSkin .mceStatusbar {
	display: block;
	font-family: Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding-left: 5px;
	overflow: visible;
	height: 20px;
	border-top-width: 1px;
	border-top-style: solid;
}
.wp_themeSkin .mceStatusbar div {float:left; padding:2px;}
.wp_themeSkin .mceStatusbar a.mceResize {
	display: block;
	float: right;
	background: url(../../img/icons.gif) -800px 0;
	width: 20px;
	height: 20px;
	cursor: se-resize
}
.wp_themeSkin .mceStatusbar a:hover {text-decoration:underline}
.wp_themeSkin table.mceToolbar {margin: 0 2px 2px;}
.wp_themeSkin #content_toolbar1 {margin-top: 2px;}
.wp_themeSkin .mceToolbar .mceToolbarEndListBox span {display:none}
.wp_themeSkin span.mceIcon, .wp_themeSkin img.mceIcon {display:block; width:20px; height:20px}
.wp_themeSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}

/* Button */
.wp_themeSkin .mceButton {
	display:block;
	width: 20px;
	height: 20px;
	cursor: default;
	padding: 1px 2px;
	margin: 1px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}

.wp_themeSkin a.mceButtonEnabled:hover {
	background-image: inherit 0 -10px;
}

.wp_themeSkin .mceOldBoxModel a.mceButton span, .wp_themeSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}

.wp_themeSkin a.mceButton:active,
.wp_themeSkin a.mceButtonActive,
.wp_themeSkin a.mceButtonActive:hover,
.wp_themeSkin a.mceButtonSelected {
	-webkit-box-shadow:	 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}
.wp_themeSkin .mceButtonDisabled .mceIcon {opacity:0.4; filter:alpha(opacity=40);}

/* Separator */
.wp_themeSkin .mceSeparator {
	height: 24px;
	width: 1px;
	display: block;
	background: transparent;
	overflow: hidden;
	margin: 0 2px;
}

/* ListBox */
.wp_themeSkin .mceListBox, .wp_themeSkin .mceListBox a {display:block}
.wp_themeSkin .mceListBox .mceText {
	padding: 1px 2px 1px 5px;
	text-align:left;
	text-decoration: none;
	width:70px;
	-moz-border-bottom-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-khtml-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-khtml-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	font-family: Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.wp_themeSkin .mceListBox {
	margin: 1px;
	direction: ltr;
}
.wp_themeSkin .mceListBox .mceOpen {
	width: 14px;
	height: 20px;
	border-collapse: separate;
	padding: 1px;
	-moz-border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-khtml-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}
.wp_themeSkin .mceListBox .mceOpen span {
	display: block;
	width:14px;
	height:20px;
	background-image: url(img/down_arrow.gif);
	background-position: 2px 1px;
	background-repeat: no-repeat;
}
.wp_themeSkin table.mceListBoxEnabled:hover .mceText,
.wp_themeSkin .mceListBoxHover .mceText,
.wp_themeSkin .mceListBoxSelected .mceText,
.wp_themeSkin table.mceListBoxEnabled:hover .mceOpen,
.wp_themeSkin .mceListBoxHover .mceOpen,
.wp_themeSkin .mceListBoxSelected .mceOpen {
	background-image: none;
}
.wp_themeSkin .mceListBoxDisabled .mceText {color:gray}
.wp_themeSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.wp_themeSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.wp_themeSkin select.mceListBox {
	font-family: Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size:12px;
}

/* SplitButton */
.wp_themeSkin .mceSplitButton a, .wp_themeSkin .mceSplitButton span {display:block; height:20px}
.wp_themeSkin .mceSplitButton {
	display:block;
	margin: 1px;
	direction: ltr;
}
.wp_themeSkin table.mceSplitButton td {
	padding: 2px;
	-moz-border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-khtml-border-top-left-radius: 0;
	border-top-left-radius: 0;
}

.wp_themeSkin table.mceSplitButton td a {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 0 2px 1px #fff;
}

.wp_themeSkin table.mceSplitButton:hover td {
	background-image: inherit 0 -10px;
}

.wp_themeSkin .mceSplitButton a.mceAction {
	height:20px;
	width:20px;
	padding: 1px 2px;
}
.wp_themeSkin .mceSplitButton span.mceAction {
	background-image: url(../../img/icons.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	width:20px;
}
.wp_themeSkin .mceSplitButton a.mceOpen {
	width:10px;
	height:20px;
	background-image: url(img/down_arrow.gif);
	background-position: 1px 2px;
	background-repeat: no-repeat;
	padding: 1px;
	border-left: 0 none !important;
}
.wp_themeSkin .mceSplitButton span.mceOpen {display:none}
.wp_themeSkin .mceSplitButtonDisabled .mceAction {
	opacity:0.3; filter:alpha(opacity=30);
}
.wp_themeSkin .mceListBox a.mceText, .wp_themeSkin .mceSplitButton a.mceAction {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}
.wp_themeSkin .mceSplitButton a.mceOpen, .wp_themeSkin .mceListBox a.mceOpen {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.wp_themeSkin span.mce_undo,
.wp_themeSkin span.mce_redo,
.wp_themeSkin span.mce_bullist,
.wp_themeSkin span.mce_numlist,
.wp_themeSkin span.mce_blockquote,
.wp_themeSkin span.mce_charmap,
.wp_themeSkin span.mce_bold,
.wp_themeSkin span.mce_italic,
.wp_themeSkin span.mce_underline,
.wp_themeSkin span.mce_justifyleft,
.wp_themeSkin span.mce_justifyright,
.wp_themeSkin span.mce_justifycenter,
.wp_themeSkin span.mce_justifyfull,
.wp_themeSkin span.mce_indent,
.wp_themeSkin span.mce_outdent,
.wp_themeSkin span.mce_link,
.wp_themeSkin span.mce_unlink,
.wp_themeSkin span.mce_help,
.wp_themeSkin span.mce_removeformat,
.wp_themeSkin span.mce_fullscreen,
.wp_themeSkin span.mce_media,
.wp_themeSkin span.mce_pastetext,
.wp_themeSkin span.mce_pasteword,
.wp_themeSkin span.mce_wp_help,
.wp_themeSkin span.mce_wp_adv,
.wp_themeSkin span.mce_wp_more,
.wp_themeSkin span.mce_strikethrough,
.wp_themeSkin span.mce_spellchecker,
.wp_themeSkin span.mce_forecolor,
.wp_themeSkin .mce_forecolorpicker,
.wp_themeSkin .mceSplitButton .mce_spellchecker span.mce_spellchecker,
.wp_themeSkin .mceSplitButton .mce_forecolor span.mce_forecolor,
.wp_themeSkin .mceSplitButton span.mce_numlist,
.wp_themeSkin .mceSplitButton span.mce_bullist {
	background-image: url(../../img/wpicons.png);
}

/* ColorSplitButton */
.wp_themeSkin div.mceColorSplitMenu table {}
.wp_themeSkin .mceColorSplitMenu td {padding:2px}
.wp_themeSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden;}
.wp_themeSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px;}
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors:hover {}
.wp_themeSkin a.mceMoreColors:hover {}
.wp_themeSkin .mceColorPreview {margin: -5px 0 0 2px; width:16px; height:4px; overflow:hidden}

/* Menu */
.wp_themeSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000;}
.wp_themeSkin .mceNoIcons span.mceIcon {width:0;}
.wp_themeSkin .mceNoIcons a .mceText {padding-left:10px}
.wp_themeSkin .mceMenu table {}
.wp_themeSkin .mceMenu a, .wp_themeSkin .mceMenu span, .wp_themeSkin .mceMenu {display:block}
.wp_themeSkin .mceMenu td {height:20px;overflow:hidden;}
.wp_themeSkin .mceMenu a {
	position:relative;
	padding:3px 0 4px 0;
	text-decoration: none !important;
}
.wp_themeSkin .mceMenu .mceText {
	position:relative;
	display:block;
	font-family:Tahoma,Verdana,Arial,Helvetica;
	cursor:default;
	margin:0;
	padding:0 25px;
}
.wp_themeSkin .mceMenu span.mceText, .wp_themeSkin .mceMenu .mcePreview {
	font-size: 12px;
}
.wp_themeSkin .mceMenu pre.mceText {font-family:Monospace}
.wp_themeSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.wp_themeSkin .mceMenu .mceMenuItemEnabled a:hover,
.wp_themeSkin .mceMenu .mceMenuItemActive {}
.wp_themeSkin td.mceMenuItemSeparator {height:1px}
.wp_themeSkin .mceMenuItemTitle a {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-decoration: none !important;
}
.wp_themeSkin .mceMenuItemTitle span.mceText {font-weight:bold; padding-left:4px}
.wp_themeSkin .mceMenuItemDisabled .mceText {}
.wp_themeSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.wp_themeSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.wp_themeSkin .mceMenu span.mceMenuLine {display:none}
.wp_themeSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.wp_themeSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; filter:alpha(opacity=50); background:#FFF}
.wp_themeSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.wp_themeSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.wp_themeSkin .mce_p span.mceText {}
.wp_themeSkin .mce_address span.mceText {font-style:italic}
.wp_themeSkin .mce_pre span.mceText {font-family:monospace}
.wp_themeSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 17px}
.wp_themeSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 16px}
.wp_themeSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 15px}
.wp_themeSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 14px}
.wp_themeSkin .mce_h5 span.mceText {font-weight:bolder; font-size: 13px}
.wp_themeSkin .mce_h6 span.mceText {font-weight:bolder; font-size: 12px}

/* Theme */
.wp_themeSkin span.mce_undo {background-position: -500px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_undo,
.wp_themeSkin .mceButtonActive span.mce_undo {background-position:-500px 0}

.wp_themeSkin span.mce_redo {background-position:-480px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_redo,
.wp_themeSkin .mceButtonActive span.mce_redo {background-position:-480px 0}

.wp_themeSkin span.mce_bullist {background-position:-40px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_bullist,
.wp_themeSkin .mceButtonActive span.mce_bullist,
.wp_themeSkin .mceSplitButton:hover span.mce_bullist {background-position:-40px 0}

.wp_themeSkin span.mce_numlist {background-position:-61px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_numlist,
.wp_themeSkin .mceButtonActive span.mce_numlist,
.wp_themeSkin .mceSplitButton:hover span.mce_numlist {background-position:-61px 0}

.wp_themeSkin span.mce_blockquote {background-position:-80px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_blockquote,
.wp_themeSkin .mceButtonActive span.mce_blockquote {background-position:-80px 0}

.wp_themeSkin span.mce_charmap {background-position:-420px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_charmap,
.wp_themeSkin .mceButtonActive span.mce_charmap {background-position:-420px 0}

.wp_themeSkin span.mce_bold {background-position:-1px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_bold,
.wp_themeSkin .mceButtonActive span.mce_bold {background-position:-1px 0}

.wp_themeSkin span.mce_italic {background-position:-21px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_italic,
.wp_themeSkin .mceButtonActive span.mce_italic {background-position:-21px 0}

.wp_themeSkin span.mce_underline {background-position:-280px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_underline,
.wp_themeSkin .mceButtonActive span.mce_underline {background-position:-280px 1px}

.wp_themeSkin span.mce_justifyleft {background-position:-100px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_justifyleft,
.wp_themeSkin .mceButtonActive span.mce_justifyleft {background-position:-100px 1px}

.wp_themeSkin span.mce_justifyright {background-position:-141px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_justifyright,
.wp_themeSkin .mceButtonActive span.mce_justifyright {background-position:-141px 1px}

.wp_themeSkin span.mce_justifycenter {background-position:-120px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_justifycenter,
.wp_themeSkin .mceButtonActive span.mce_justifycenter {background-position:-120px 1px}

.wp_themeSkin span.mce_justifyfull {background-position:-300px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_justifyfull,
.wp_themeSkin .mceButtonActive span.mce_justifyfull {background-position:-300px 1px}

.wp_themeSkin span.mce_indent {background-position:-461px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_indent,
.wp_themeSkin .mceButtonActive span.mce_indent {background-position:-461px 1px}

.wp_themeSkin span.mce_outdent {background-position:-440px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_outdent,
.wp_themeSkin .mceButtonActive span.mce_outdent {background-position:-440px 1px}

.wp_themeSkin span.mce_link {background-position:-161px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_link,
.wp_themeSkin .mceButtonActive span.mce_link {background-position:-161px 0}

.wp_themeSkin span.mce_unlink {background-position:-180px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_unlink,
.wp_themeSkin .mceButtonActive span.mce_unlink {background-position:-180px 0}

.wp_themeSkin span.mce_help {background-position:-521px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_help,
.wp_themeSkin .mceButtonActive span.mce_help {background-position:-521px 0}

.wp_themeSkin span.mce_removeformat {background-position:-381px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_removeformat,
.wp_themeSkin .mceButtonActive span.mce_removeformat {background-position:-381px 0}

.wp_themeSkin span.mce_strikethrough {background-position:-540px -18px;}
.wp_themeSkin .mceButtonEnabled:hover span.mce_strikethrough,
.wp_themeSkin .mceButtonActive span.mce_strikethrough {background-position:-540px 0}

.wp_themeSkin .mceSplitButton .mce_forecolor span.mce_forecolor {background-position:-321px -22px}
.wp_themeSkin .mceSplitButtonEnabled:hover span.mce_forecolor,
.wp_themeSkin .mceSplitButtonActive span.mce_forecolor {background-position:-321px -2px}

.wp_themeSkin .mce_forecolorpicker {background-position:-320px -20px}

/* Plugins in WP */
.wp_themeSkin span.mce_fullscreen {background-position:-240px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_fullscreen,
.wp_themeSkin .mceButtonActive span.mce_fullscreen {background-position:-240px 0}

.wp_themeSkin span.mce_media {background-position:-401px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_media,
.wp_themeSkin .mceButtonActive span.mce_media {background-position:-401px 0}

.wp_themeSkin span.mce_pastetext {background-position:-340px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_pastetext,
.wp_themeSkin .mceButtonActive span.mce_pastetext {background-position:-340px 0}

.wp_themeSkin span.mce_pasteword {background-position:-360px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_pasteword,
.wp_themeSkin .mceButtonActive span.mce_pasteword {background-position:-360px 0}

.wp_themeSkin span.mce_spellchecker {background-position:-220px -19px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_spellchecker,
.wp_themeSkin .mceSplitButtonEnabled:hover span.mce_spellchecker,
.wp_themeSkin .mceButtonActive span.mce_spellchecker,
.wp_themeSkin .mceSplitButtonActive span.mce_spellchecker {background-position:-220px 1px}

.wp_themeSkin span.mce_wp_help {background-position:-521px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_wp_help,
.wp_themeSkin .mceButtonActive span.mce_wp_help {background-position:-521px 0}

.wp_themeSkin span.mce_wp_adv {background-position:-260px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_wp_adv,
.wp_themeSkin .mceButtonActive span.mce_wp_adv {background-position:-260px 0}

.wp_themeSkin span.mce_wp_more {background-position:-201px -20px}
.wp_themeSkin .mceButtonEnabled:hover span.mce_wp_more,
.wp_themeSkin .mceButtonActive span.mce_wp_more {background-position:-201px 0}

/* Default icons */
.wp_themeSkin span.mce_cleanup {background-position:-380px -20px}
.wp_themeSkin span.mce_anchor {background-position:-200px 0}
.wp_themeSkin span.mce_sub {background-position:-600px 0}
.wp_themeSkin span.mce_sup {background-position:-620px 0}
.wp_themeSkin span.mce_newdocument {background-position:-520px 0}
.wp_themeSkin span.mce_image {background-position:-380px 0}
.wp_themeSkin span.mce_code {background-position:-260px 0}
.wp_themeSkin span.mce_hr {background-position:-360px 0}
.wp_themeSkin span.mce_visualaid {background-position:-660px 0}
.wp_themeSkin span.mce_paste {background-position:-560px 0}
.wp_themeSkin span.mce_copy {background-position:-700px 0}
.wp_themeSkin span.mce_cut {background-position:-680px 0}
.wp_themeSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.wp_themeSkin .mce_backcolorpicker {background-position:-760px 0}


/* Plugins */
.wp_themeSkin span.mce_advhr {background-position:-0px -20px}
.wp_themeSkin span.mce_ltr {background-position:-20px -20px}
.wp_themeSkin span.mce_rtl {background-position:-40px -20px}
.wp_themeSkin span.mce_emotions {background-position:-60px -20px}
.wp_themeSkin span.mce_fullpage {background-position:-80px -20px}
.wp_themeSkin span.mce_iespell {background-position:-120px -20px}
.wp_themeSkin span.mce_insertdate {background-position:-140px -20px}
.wp_themeSkin span.mce_inserttime {background-position:-160px -20px}
.wp_themeSkin span.mce_absolute {background-position:-180px -20px}
.wp_themeSkin span.mce_backward {background-position:-200px -20px}
.wp_themeSkin span.mce_forward {background-position:-220px -20px}
.wp_themeSkin span.mce_insert_layer {background-position:-240px -20px}
.wp_themeSkin span.mce_insertlayer {background-position:-260px -20px}
.wp_themeSkin span.mce_movebackward {background-position:-280px -20px}
.wp_themeSkin span.mce_moveforward {background-position:-300px -20px}
.wp_themeSkin span.mce_nonbreaking {background-position:-340px -20px}
.wp_themeSkin span.mce_selectall {background-position:-400px -20px}
.wp_themeSkin span.mce_preview {background-position:-420px -20px}
.wp_themeSkin span.mce_print {background-position:-440px -20px}
.wp_themeSkin span.mce_cancel {background-position:-460px -20px}
.wp_themeSkin span.mce_save {background-position:-480px -20px}
.wp_themeSkin span.mce_replace {background-position:-500px -20px}
.wp_themeSkin span.mce_search {background-position:-520px -20px}
.wp_themeSkin span.mce_styleprops {background-position:-560px -20px}
.wp_themeSkin span.mce_table {background-position:-580px -20px}
.wp_themeSkin span.mce_cell_props {background-position:-600px -20px}
.wp_themeSkin span.mce_delete_table {background-position:-620px -20px}
.wp_themeSkin span.mce_delete_col {background-position:-640px -20px}
.wp_themeSkin span.mce_delete_row {background-position:-660px -20px}
.wp_themeSkin span.mce_col_after {background-position:-680px -20px}
.wp_themeSkin span.mce_col_before {background-position:-700px -20px}
.wp_themeSkin span.mce_row_after {background-position:-720px -20px}
.wp_themeSkin span.mce_row_before {background-position:-740px -20px}
.wp_themeSkin span.mce_merge_cells {background-position:-760px -20px}
.wp_themeSkin span.mce_table_props {background-position:-980px -20px}
.wp_themeSkin span.mce_row_props {background-position:-780px -20px}
.wp_themeSkin span.mce_split_cells {background-position:-800px -20px}
.wp_themeSkin span.mce_template {background-position:-820px -20px}
.wp_themeSkin span.mce_visualchars {background-position:-840px -20px}
.wp_themeSkin span.mce_abbr {background-position:-860px -20px}
.wp_themeSkin span.mce_acronym {background-position:-880px -20px}
.wp_themeSkin span.mce_attribs {background-position:-900px -20px}
.wp_themeSkin span.mce_cite {background-position:-920px -20px}
.wp_themeSkin span.mce_del {background-position:-940px -20px}
.wp_themeSkin span.mce_ins {background-position:-960px -20px}
.wp_themeSkin span.mce_pagebreak {background-position:0 -40px}


/* border */
.wp_themeSkin .mceExternalToolbar,
.wp_themeSkin .mceButton,
.wp_themeSkin a.mceButtonEnabled:hover,
.wp_themeSkin a.mceButtonActive,
.wp_themeSkin a.mceButtonSelected,
.wp_themeSkin .mceListBox .mceText,
.wp_themeSkin .mceListBox .mceOpen,
.wp_themeSkin table.mceListBoxEnabled:hover .mceText,
.wp_themeSkin .mceListBoxHover .mceText,
.wp_themeSkin .mceListBoxSelected .mceText,
.wp_themeSkin table.mceListBoxEnabled:hover .mceOpen,
.wp_themeSkin .mceListBoxHover .mceOpen,
.wp_themeSkin .mceListBoxSelected .mceOpen,
.wp_themeSkin select.mceListBox,
.wp_themeSkin .mceSplitButton a.mceAction,
.wp_themeSkin .mceSplitButton a.mceOpen,
.wp_themeSkin .mceSplitButton a.mceOpen:hover,
.wp_themeSkin .mceSplitButtonSelected a.mceOpen,
.wp_themeSkin table.mceSplitButtonEnabled:hover a.mceAction,
.wp_themeSkin .mceSplitButton a.mceAction:hover,
.wp_themeSkin div.mceColorSplitMenu table,
.wp_themeSkin .mceColorSplitMenu a,
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors,
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors:hover,
.wp_themeSkin a.mceMoreColors:hover,
.wp_themeSkin .mceMenu {
	border-style: solid;
	border-width: 1px;
}

.wp_themeSkin *, .wp_themeSkin a:hover, .wp_themeSkin a:link, .wp_themeSkin a:visited, .wp_themeSkin a:active {
	color: #000;
}

.wp_themeSkin table.mceLayout {
	border:solid 1px #FFF;
	border-color: #ccc #ccc #dfdfdf;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

#editorcontainer #content, #editorcontainer .wp_themeSkin .mceIframeContainer {
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}

.wp_themeSkin iframe {
	background: #FFF;
}

.wp_themeSkin .mceStatusbar {
	color: #000;
	background-color: #f5f5f5;
	border-color:#CCC;
}

.wp_themeSkin .mceButton {
	border-color: #ccc;
	background-color: #eee;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
	background-image: -webkit-linear-gradient(bottom,#ddd,#fff);
	background-image: -moz-linear-gradient(bottom,#ddd,#fff);
	background-image: -o-linear-gradient(bottom,#ddd,#fff);
	background-image: -ms-linear-gradient(bottom,#ddd,#fff);
	background-image: linear-gradient(bottom,#ddd,#fff);
}

.wp_themeSkin a.mceButtonEnabled:hover {
	border-color: #a0a0a0;
	background: #ddd;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
	background-image: -webkit-linear-gradient(bottom,#ccc,#fff);
	background-image: -moz-linear-gradient(bottom,#ccc,#fff);
	background-image: -o-linear-gradient(bottom,#ccc,#fff);
	background-image: -ms-linear-gradient(bottom,#ccc,#fff);
	background-image: linear-gradient(bottom,#ccc,#fff);
}

.wp_themeSkin a.mceButton:active, .wp_themeSkin a.mceButtonEnabled:active, .wp_themeSkin a.mceButtonSelected:active, .wp_themeSkin a.mceButtonActive, .wp_themeSkin a.mceButtonActive:active, .wp_themeSkin a.mceButtonActive:hover {
	background-color: #ddd;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
	background-image: -webkit-linear-gradient(bottom,#eee,#bbb);
	background-image: -moz-linear-gradient(bottom,#eee,#bbb);
	background-image: -o-linear-gradient(bottom,#eee,#bbb);
	background-image: -ms-linear-gradient(bottom,#eee,#bbb);
	background-image: linear-gradient(bottom,#eee,#bbb);

	border-color: #909090;
}

.wp_themeSkin .mceButtonDisabled {
	border-color: #ccc !important;
}

.wp_themeSkin .mceListBox .mceText, .wp_themeSkin .mceListBox .mceOpen {
	border-color: #ccc;
	background-color: #eee;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
	background-image: -webkit-linear-gradient(bottom,#ddd,#fff);
	background-image: -moz-linear-gradient(bottom,#ddd,#fff);
	background-image: -o-linear-gradient(bottom,#ddd,#fff);
	background-image: -ms-linear-gradient(bottom,#ddd,#fff);
	background-image: linear-gradient(bottom,#ddd,#fff);
}

.wp_themeSkin .mceListBox .mceOpen {
	border-left: 0 !important;
}

.wp_themeSkin table.mceListBoxEnabled:hover .mceOpen, .wp_themeSkin .mceListBoxHover .mceOpen, .wp_themeSkin .mceListBoxHover:active .mceOpen, .wp_themeSkin .mceListBoxSelected .mceOpen, .wp_themeSkin .mceListBoxSelected .mceText, .wp_themeSkin table.mceListBoxEnabled:active .mceText {
	background: #ccc;
	border-color: #999;
}

.wp_themeSkin table.mceListBoxEnabled:hover .mceText, .wp_themeSkin .mceListBoxHover .mceText, .wp_themeSkin table.mceListBoxEnabled:hover .mceOpen, .wp_themeSkin .mceListBoxHover .mceOpen {
	border-color: #909090;
	background-color: #eee;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
	background-image: -webkit-linear-gradient(bottom,#ccc,#fff);
	background-image: -moz-linear-gradient(bottom,#ccc,#fff);
	background-image: -o-linear-gradient(bottom,#ccc,#fff);
	background-image: -ms-linear-gradient(bottom,#ccc,#fff);
	background-image: linear-gradient(bottom,#ccc,#fff);
}

.wp_themeSkin select.mceListBox {
	border-color: #B2B2B2;
	background-color: #fff;
}

.wp_themeSkin .mceSplitButton a.mceAction, .wp_themeSkin .mceSplitButton a.mceOpen {
	border-color: #ccc;
}

.wp_themeSkin .mceSplitButton a.mceOpen:hover, .wp_themeSkin .mceSplitButtonSelected a.mceOpen, .wp_themeSkin table.mceSplitButtonEnabled:hover a.mceAction, .wp_themeSkin .mceSplitButton a.mceAction:hover {
	border-color: #909090;
}

.wp_themeSkin table.mceSplitButton td {
	background-color: #eee;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
	background-image: -webkit-linear-gradient(bottom,#ddd,#fff);
	background-image: -moz-linear-gradient(bottom,#ddd,#fff);
	background-image: -o-linear-gradient(bottom,#ddd,#fff);
	background-image: -ms-linear-gradient(bottom,#ddd,#fff);
	background-image: linear-gradient(bottom,#ddd,#fff);
}

.wp_themeSkin table.mceSplitButton:hover td {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
	background-image: -webkit-linear-gradient(bottom,#ccc,#fff);
	background-image: -moz-linear-gradient(bottom,#ccc,#fff);
	background-image: -o-linear-gradient(bottom,#ccc,#fff);
	background-image: -ms-linear-gradient(bottom,#ccc,#fff);
	background-image: linear-gradient(bottom,#ccc,#fff);
}

.wp_themeSkin .mceSplitButtonActive {
	background-color: #B2B2B2;
}

.wp_themeSkin div.mceColorSplitMenu table {
	background-color: #ebebeb;
	border-color: #B2B2B2;
}

.wp_themeSkin .mceColorSplitMenu a {
	border-color: #B2B2B2;
}

.wp_themeSkin .mceColorSplitMenu a.mceMoreColors {
	border-color: #fff;
}

.wp_themeSkin .mceColorSplitMenu a.mceMoreColors:hover {
	border-color: #0A246A;
	background-color: #B6BDD2;
}

.wp_themeSkin a.mceMoreColors:hover {
	border-color: #0A246A;
}

.wp_themeSkin .mceMenu {
	border-color: #ddd;
}

.wp_themeSkin .mceMenu table {
	background-color: #ebeaeb;
}

.wp_themeSkin .mceMenu .mceText {
	color: #000;
}

.wp_themeSkin .mceMenu .mceMenuItemEnabled a:hover, .wp_themeSkin .mceMenu .mceMenuItemActive {
	background-color: #f5f5f5;
}

.wp_themeSkin td.mceMenuItemSeparator {
	background-color: #aaa;
}

.wp_themeSkin .mceMenuItemTitle a {
	background-color: #ccc;
	border-bottom-color: #aaa;
}

.wp_themeSkin .mceMenuItemTitle span.mceText {
	color: #000;
}

.wp_themeSkin .mceMenuItemDisabled .mceText {
	color: #888;
}

.wp_themeSkin tr.mceFirst td.mceToolbar {
	background: #dfdfdf url("img/ed-bg.gif") repeat-x scroll left top;
	border-color: #ccc;
}