label {
    display: block;
    font-size: 12px;
    margin: 10px 0 5px 0;
}

form .required label::after {
    color: black;
    content: ' *';
    display: inline;
}

input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: none;
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

form {
    margin-top: 20px;
}

input:focus, textarea:focus {
    border: 1px solid #999;
}

.error input, .error textarea {
    border: 1px solid red;
}

div.error-message {
    font-size: 10px;
    margin-bottom: 15px;
    background: #fff url(../img/validation_error.png) left no-repeat;
    padding-left: 18px;
}

form .required label::after {
    color: black;
    content: ' *';
    display: inline;
}

input:focus, textarea:focus {
    border: 1px solid #999;
}

.error input, div#main div#content div.blog-post div#blog-post-comment-area .error textarea {
    border: 1px solid red;
}

div.error-message {
    /*    font-size: 10px;
        margin-bottom: 15px;
        background: #fff url(../img/validation_error.png) left no-repeat;
        padding-left: 18px;*/
    padding: 3px;
    padding-left: 8px;
    font-size: 12px;
    width: 50%;
    clear: both;
    color: white;
    background: #C43C35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #EE5F5B, #C43C35);
    background-image: -ms-linear-gradient(top, #EE5F5B, #C43C35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EE5F5B), to(#C43C35));
    background-image: -webkit-linear-gradient(top, #EE5F5B, #C43C35);
    background-image: -o-linear-gradient(top, #EE5F5B, #C43C35);
    background-image: linear-gradient(top, #EE5F5B, #C43C35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
