/*
	This file is part of UserMgmt.

	Author: Chetan Varshney (http://ektasoftwares.com)

	UserMgmt is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	UserMgmt is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/
.um_box_mid form {
	padding:0 !important;
	margin:0 !important;
	width: auto !important;
}
.um_box_mid form div {
	padding:0;
	margin:0 ;
	width: auto ;
	clear:none;
}
.umtop {
	padding:20px;
        float: left;
}
.um_box_up {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #E9EAEE;
	height:10px;
}
.um_box_mid {
	background-color: #E9EAEE;
	height:auto;
}
.um_box_mid_content {
	padding-left:20px;
	padding-right:20px;
}
.um_box_mid_content_top {
	text-align:left;
}
.um_box_mid_content_mid {
	padding-top:10px;
}
.um_box_mid_content_mid_left {
	float:left;
	width:600px;
}
.um_box_mid_content_mid_right {
	float:left;
	width:300px;
}
.um_box_down {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #E9EAEE;
	height:10px;
}
.umstyle1 {
	font-size:20px;
	color:#235A81;
}
.umstyle2 {
	font-size:20px;
	color:#F88017;
}
.umstyle2 a {
	font-size:20px;
	color:#F88017;
}
.umhr {
	border-bottom:#2485b2 solid 1px;
	height:10px;
}
.umstyle3 {
	font-size:12px;
}
.umstyle4 {
	font-size:12px;
}
.umstyle5 {
	border:#999999 solid 1px;
	font-size: 100%;
	width: 200px;
}
.umstyle6 a {
	font-size:16px;
}
input[type="submit"] {
	cursor:pointer;
}
#login .umstyle3 {
	float:left;
	width:150px;
	padding-bottom:10px;
}
#login .umstyle4 {
	float:left;
	width:400px;
	padding-bottom:10px;
}
#register .umstyle3 {
	float:left;
	width:150px;
	padding-bottom:10px;
}
#register .umstyle4 {
	float:left;
	width:400px;
	padding-bottom:10px;
}
#forgot .umstyle3 {
	float:left;
	width:200px;
	padding-bottom:10px;
}
#forgot .umstyle4 {
	float:left;
	width:400px;
	padding-bottom:10px;
}
#addgroup .umstyle3 {
	float:left;
	width:150px;
	padding-bottom:10px;
}
#addgroup .umstyle4 {
	float:left;
	width:230px;
	padding-bottom:10px;
}
#addgroup .umstyle7 {
	float:left;
	width:auto;
	padding-bottom:10px;
	font-style:italic;
	font-size:10px
}
.umbtn {
  cursor: pointer;
  display: inline-block;
  background-color: #e77f02;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8b00), color-stop(0.25, #ff8b00), to(#e77f02));
  background-image: -webkit-linear-gradient(#ff8b00, #ff8b00 0.25, #e77f02);
  background-image: -moz-linear-gradient(#ff8b00, #ff8b00 0.25, #e77f02);
  background-image: -ms-linear-gradient(#ff8b00, #ff8b00 0.25, #e77f02);
  background-image: -o-linear-gradient(#ff8b00, #ff8b00 0.25, #e77f02);
  background-image: linear-gradient(#ff8b00, #ff8b00 0.25, #e77f02);
  padding: 4px 14px;
  text-shadow: 0 1px 1px rgba(190, 105, 0, 0.95);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
  border: 1px solid #e77f02;
  border-bottom-color: #e77f02;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.umbtn:hover {
  background-position: 0 -15px;
  color: #fff;
  text-decoration: none;
}
#dashboard {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #E9EAEE;
	height:auto;
	padding:5px 10px;
	margin-bottom:5px;
}
.icon {
	padding-right:5px;
}
table {
	margin-bottom:  0px;
}